.animate-fall {
  position: absolute;
  animation-name: fall;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes fall {
  0% {
    top: 0;
    transform: rotate(0deg);
  }
  100% {
    top: 100%; /* will fill container dynamically */
    transform: rotate(360deg);
  }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}
.credit-glow {
  text-shadow: 0 0 10px #ff80bf, 0 0 20px #ff4da6, 0 0 30px #ff1a8c;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
